* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: bold;
  margin: 1rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

/** LIST */

/* STYLE THE LIST */

.list {
  margin: 1rem auto;
}

/* STYLE THE LIST HEADER */

.list-header {
  display: flex;
  align-items: center;
}

/* STYLE THE BUTTON */

.refresh-btn {
  margin: 0 1rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 10px;
  background: #444;
  color: #fff;
  transition: background 0.3s, transform 0.4s;
  cursor: pointer;
}

.refresh-btn:hover {
  background: #000;
  transform: scale(1.05);
}

.refresh-btn:active {
  transform: scale(0.95);
}

/* LIST CONTAINER */

ul {
  list-style: none;
}

.list-container {
  margin: 1rem auto;
  border: 2px solid #444;
}

/** ADD SCORE */

.add-score {
  margin: 1rem auto;
}

.add-score-container {
  display: flex;
  flex-direction: column;
}

.add-score-container > input {
  margin: 1rem 0;
  padding: 0.4rem;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: #444;
  color: #fff;
}

input::placeholder {
  color: #fff;
}

.add-btn {
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 10px;
  background: #aaa;
  color: #000;
  transition: background 0.3s, color 0.3s, transform 0.4s, box-shadow 0.3s;
  cursor: pointer;
  float: right;
}

.add-btn:hover {
  background: #000;
  color: #fff;
  box-shadow: 2px 2px 0 2px #444;
}

.add-btn:active {
  transform: scale(0.9);
  box-shadow: none;
}
